body{
	 font-family:microsoft yahei;
}
/****轮播图片****/
#myCarousel{
	margin-top:40px;
}
.carousel-inner img{
	margin:auto auto;
top:0px;
}

.carousel-indicators li{
	display:inline-block;
	width:25px;
	height:2px;
	margin-left:10px;
	border-color:#4e7abd;
}
.carousel-indicators .active{
	display:inline-block;
	width:25px;
	height:2px;
	margin-left:10px;
	border-color:white;
}
/****响应式导航栏****/
.navbar{
	margin-bottom:0px;
	width:100%;
	position:fixed;
	top:0px;
	text-align:center;
	z-index:100;
	opacity:0.96;
}
.navbar-default{
	background-color:white;
	border:none;
	box-shadow: 0px 2px 2px #eeeeee;
}
.navbar-nav li a{
	text-align: center;
	padding:20px 30px;
}
/*导航条中active状态的按钮，覆盖了bootstrap.css中的代码*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #2748b1;
}
/*导航条中字体的颜色，覆盖了bootstrap.css中的代码*/
.navbar-default .navbar-nav>li>a {
    color: #323232;
    font-size:20px;
}
/*导航条中鼠标滑过时的设置，覆盖了bootstrap.css中的代码*/
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #2748b1;
}
.navbar-default .navbar-nav>li>a:hover .dropdown-menu{
	display:block;
}
.dropdown:hover .dropdown-menu{
	display:block;
}
.dropdown-menu{
	background-color:white;
	float:left;
}
.dropdown-menu>li{
	float:left;
	height:40px;
}

.dropdown-menu>li>a{
	width:230px;
    line-height:40px;
    color: #333;
    white-space: nowrap;
    text-align: left;
	padding:3px 0px 3px 30px;
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{
	color:#1b84ef;
	background-color: transparent;
}
#logoTitle{
    padding:8px 8px;
}
/****产品模块****/
.product{
	padding-top:30px;
	padding-bottom:20px;
}
.product:nth-of-type(odd){
	background-color:#ededee;
}
.productTitle{
	font-size: 28px;
	margin-bottom:20px;
	text-align: center;
}
.productImg{
	padding:0;
	text-align: center;
}
.productImg img{
	width:auto;
	max-height:100%;
	max-width:100%;
}
.productDesc{
	padding-top:15px;
	padding-left:30px;
	font-size: 18px;
}
.tryButton{
	width:100%;
	text-align:center;
}
.productTry{
	width:150px;
	height:40px;
	color:#0044aa;
	font-size:18px;
	border:none;
	background-color:transparent;
	background-image:url('img/button-default.png');
}
.productTry:hover{
	color:white;
	background-image: url('img/button-active.png');
}
/****右侧悬浮图标****/
#floatImg{
	position:fixed;
	top:40%;
	right:0px;
	z-index: 100;
	border-left:1px solid #d2d2d2;
	border-top:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
#phonenum{
	display:none;
	position:fixed;
	top:40%;
	right:80px;	
	
	margin-top:15px;
	z-index:100;
}
#consult-tip{
	display:none;
	position:fixed;
	top:40%;
	right:80px;	
	
	margin-top:90px;
	z-index:100;
}
#contactTel img{
	width:30px;
	height:30px;
}
#contactTel{
	padding:22px 20px;
	border-bottom:1px solid #d2d2d2;
	background-color:#f0f0f0;
}
#onlineConsult img{
	width:36px;
	height:33px;
}
#onlineConsult{
	padding:21px 20px;
	background-color:#f0f0f0;
}

/****底部****/
.foot{
	height:auto;
	width:100%;
	font-size:20px;
	color:white;
	background-color:#1f2538;
}
#copyright a{
	color:#838ba0;
	text-decoration:none;
}
#company{
	margin-top:60px;
}
#erweiCode{
	margin-top:30px;
	text-align:right;
}
#copyright{
	margin-top:30px;
	text-align:center;
}
.companyInfo{
	font-size:14px;
	color:#838ba0;
}
.pc{
	display:none;
}
/****关于界面****/
.topImg{
	margin-top:-20px;
	width:100%;
	background-image: url('img/about-bg.png');
	text-align: center;
}
.topImg img{
	width:auto;
 	height:auto;
 	max-width:100%;
 	max-height:100%;
}
#aboutSjTitle{
	color:black;
	font-size:26px;
	text-align:center;
	margin:40px auto 30px;
}
#aboutSjContent{
	color:black;
	font-size:20px;
	margin-bottom:20px;
}
.tabs{
	margin-bottom:30px;
	text-align: center;
}
.tabs a{
	padding:15px 20px;
	color:black;
	text-decoration: none;
}
.tabs .cur-tab{
	color:white;
	background-color:#2748b1;
}
.tabs a:hover,.tabs a:active{
	background-color:#2748b1;
	color:white;
	text-decoration: none;
}

.sjTabContent1 p,.sjTabContent3 p{
	text-indent:40px;
	line-height:35px;
}
.sjTabContent1 img{
	margin:13px 10px;
}
table{
	margin-top:20px;
	margin-bottom:20px;
}
table td{
	text-indent: 20px;
	padding-right:10px;
	height:50px;
	border:1px solid #ececec;
}
.subTitle{
	font-size:18px;
	font-weight:bold ;
}
/****企业文化****/
.sjTabContent2,.sjTabContent3,.sjTabContent4{
	display:none;
}
.sjTabContent2 img{
	margin:13px 10px;
       
}

@media(min-width:768px){
    .carousel-indicators li,.carousel-indicators .active{
		width:50px;
    }
    .product{
		padding-top:50px;
		padding-bottom:40px;
    }
	.productTitle{
		font-size: 40px;
		margin-bottom:40px;
    }
	.productImg img{
		height:260px;
		max-width:100%;
	}
	.productDesc{
		padding-top:20px;
		font-size: 24px;
    }
	.navbar-nav>li>a{
		text-align: center;
		padding:20px 30px;
	}
	#logoTitle{
		padding:9px 9px;
	}
	.dropdown-menu{
		width:540px;
	}
	.dropdown-menu>li>a{
		width:250px;
	}
	.productDesc{
		padding-top:0px;
		font-size: 20px;
	}
	.tryButton{
		width:100%;
		text-align:left;
	}
	.pc{
		display:block;
	}
}

@media(min-width:992px){
    .carousel-indicators li,.carousel-indicators .active{
		width:50px;
    }
    .product{
		padding-top:50px;
		padding-bottom:40px;
    }
    .productTitle{
		font-size: 40px;
        margin-bottom:40px;
    }
	.productImg img{
		height:260px;
		max-width:100%;
	}
    .productDesc{
		padding-top:20px;
		font-size: 24px;
    }
    .navbar-nav>li>a{
		text-align: center;
		padding:20px 35px;
	}
	#logoTitle{
		padding:10px 10px;
    }
    .dropdown-menu{
		width:680px;
	}
	.dropdown-menu>li>a{
		width:200px;
	}
	.dropdown-menu>li{
		margin-right:25px;
	}
	.productDesc{
		padding-top:0px;
		font-size: 20px;
	}
	.tryButton{
		width:100%;
		text-align:left;
	}
	.pc{
		display:block;
	}
}